@charset "UTF-8";

a.title:link {
	color: #ff0000;
	text-decoration: none;
}

a.title:visited {
	color: #0000ff;
	text-decoration: none;
}

a.title:hover {
	font-size: 150%;
	text-decoration: none;
}



a.bigger:link {
	font-size: 20px;
	font-weight: bold;
	font-family:'宋体';
	color: #000000;
	text-decoration: none;
	
}

a.bigger:visited {
	font-size: 20px;
	font-weight: bold;
	font-family:'宋体';
	color: #000000;
	text-decoration: none;
}

a.bigger:hover {
	font-weight: bold;
	font-family:'宋体';
	color: #ffcc00;
	font-size: 150%;
	text-decoration: none;
}

a.lessbig:link {
	font-size: 18px;
	font-weight: bold;
	font-family:'宋体';
	color: #000000;
	text-decoration: none;
	
}

a.lessbig:visited {
	font-size: 18px;
	font-weight: bold;
	font-family:'宋体';
	color: #000000;
	text-decoration: none;
}

a.lessbig:hover {
	font-weight: bold;
	font-family:'宋体';
	color: #ffcc00;
	font-size: 150%;
	text-decoration: none;
}


.bar {
	font-weight: bold;
	font-size: 14px;
	color: #0000a0;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
}

.smaimg{
	height: 100px;
	width: 200px;
	vertical-align: middle;
}

.midimg {
	height: 200px;
	width: 200px;
	vertical-align: middle;
}

.bigimg {
	height: 300px;
	width: 300px;
	vertical-align: middle;
}

.repeatimg{
    background-image:url('img/bian.png');
	background-repeat:repeat-x;
}
.leftimg{
	height: 300px;
	width: 300px;
	vertical-align: middle;
	float:left;
}
.blockdis {
	margin: 10;
}

div {
	text-align: center;
	
}

input {
  display:inline;
  width:50%;
  padding:0.7em;
  margin:0.5cm 0.5cm 0.5cm 0.5cm;
  border-radius:10px;
}

.but_in_table{
	margin:0cm 0.5cm 0cm 0.5cm;
}
.sel_in_table{
	width:100px;
}
td,th{
	text-align:center;
}

.btn-select { 
position: relative; 
display: inline-block; 
width: 150px; 
height: 25px; 
background-color: #f80; 
font: 14px/20px "Microsoft YaHei"; 
color: #fff; 
} 
.btn-select .cur-select { 
position: absolute; 
display: block; 
width: 150px; 
height: 25px; 
line-height: 25px; 
background: #f80 url(ico-arrow.png) no-repeat 125px center; 
text-indent: 10px; 
} 
.btn-select:hover .cur-select { 
background-color: #f90; 
} 
.btn-select select { 
position: absolute; 
top: 0; 
left: 0; 
width: 150px; 
height: 25px; 
opacity: 0; 
filter: alpha(opacity: 0;); 
font: 14px/20px "Microsoft YaHei"; 
color: #f80; 
} 
.btn-select select option { 
text-indent: 10px; 
} 
.btn-select select option:hover { 
background-color: #f80; 
color: #fff; 
} 