body {
    background-color:#fff;
}

.title {
  text-align:center;
  font-size:25px;
  padding:0.2em;
  color:#DAA520;
}

.main{
  display:block;
  width:45%;
  margin:0 auto;
  background:#FFFACD;
  border-radius:5px 5px 0 0;
}

.login {
  display:block;
  width:45%;
  margin:0 auto;
  background-color:#aaa;
  padding:2em 0;
  text-align:center;
  border-radius:0 0 5px 5px;
}

.description {
  color:#999;
  margin:0 3em;
}

label {
  font-weight:700;
}

input {
  display:block;
  width:100%;
  padding:0.5em;
  margin:0.5em 0 0;
  border-radius:5px;
  
}
.cellphone,.passwd,.verify {
  display:block;
  margin:0.5em 3em;
}

.captcha {
  z-index:3;
  width:105px;
  height:30px;
}
.help1,.help2,.agreement {
  color:#999;
  font-size:13px;   
}

#subm {
  display:block;
  width:80%;
  height:30px;
  background-color:#4682B4;
  border-radius:25px;
  cursor:pointer;
  margin:0 auto;
   color: #ffffff;
}

#sub {
	 display:block;
  width:80%;
  height:30px;
  background-color:#4682B4;
  border-radius:25px;
  cursor:pointer;
  margin:0 auto;
   color: #ffffff;
}



.agreement {
  text-align:center;
  padding:0.8em;
}

#agree {
  cursor:pointer;
  color:#0883be
}
#login {
  cursor:pointer;
  color:#0883be
}

