 body{
	text-align:center;
	
}
 
 
 .big{
    width:99%;
    margin: 0 auto;
 filter:alpha(opacity=95);   
      -moz-opacity:0.95;   
      -khtml-opacity: 0.95;   
      opacity: 0.95; 
 }
 
 .zone{
 
    width: 49%;
 filter:alpha(opacity=95);   
      -moz-opacity:0.95;   
      -khtml-opacity: 0.95;   
      opacity: 0.95; 
 	float: left;
 }



 .z1
        {
           
            width: 98%;
            margin:3px;
            height:60%;
            border: solid 1px;
            background-color:#8EE5EE;
              
   filter:alpha(opacity=95);   
      -moz-opacity:0.95;   
      -khtml-opacity: 0.95;   
      opacity: 0.95; 
        }
         
.z2
        {
            
            width: 98%;
            margin:3px;
            height:30%;
            border: solid 1px;
            background-color:#ffffCB;
            filter:alpha(opacity=95);   
      -moz-opacity:0.95;   
      -khtml-opacity: 0.95;   
      opacity: 0.95; 
        }
         
.z3
        {
            
            width: 98%;
            margin:3px;
            height:45%;
            border: solid 1px;
            background-color:#CFCFCF;
            filter:alpha(opacity=95);   
      -moz-opacity:0.95;   
      -khtml-opacity: 0.95;   
      opacity: 0.95; 
        }
         
.z4
        {
           
            width: 98%;
            margin:3px;
            height:45%;
            border: solid 1px;
             background-color:#FFE4E1;
              filter:alpha(opacity=95);   
      -moz-opacity:0.95;   
      -khtml-opacity: 0.95;   
      opacity: 0.95; 
        }
        .redimg
        {
        
        
        text-align:center;
        }
         
